.popup-container {
    position: absolute;
    z-index: 998;
    left: var(--body-padding);
    right: 0;
    top: 0;
    bottom: 0;

    transform: scale(0);
    transition: transform 120ms ease-in-out;
}

.popup-container.active {
    transform: unset;
}

.popup-container > .popup {
    position: relative;
    background-color: var(--color-purple-darkest);
    z-index: 999;
    margin: 5% auto;
    width: fit-content;
    padding: 1% 5%;

    display: flex;
    flex-direction: column;

    border: 2px solid var(--color-green-dark);
    border-radius: 1em;

    box-shadow: 0px 0px 20px 20px black;
}

.popup > .closeBtn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    position: absolute;
    top: 2%;
    right: 2%;
    width: 7%;
}

.closeBtn > svg {
    fill: rgba(255, 255, 255, 0.5);
}

.closeBtn > svg:hover,
.closeBtn > svg:active,
.closeBtn > svg:focus {
    fill: rgba(255, 255, 255, 1);
}

.popup > .title {
    text-transform: uppercase;
    font-family: 'Inconsolata', monospace;
    width: fit-content;

    border-bottom: 2px solid var(--color-green-light);
}

.popup > .date-location {
    font-family: 'Inconsolata', monospace;
    width: fit-content;
    margin-left: auto;
    padding: 2%;
    border-left: 2px solid var(--color-green-light);
    border-radius: 1em;
}

.date-location > .date::before {
    content: "Date: "
}

.date-location > .location::before {
    content: "Location: "
}

.popup > .description-container {
    position: relative;
}

.description-container > .description::before {
    position: absolute;
    top: -250%;
    content: open-quote;
    font-size: 7em;
    color: var(--color-green-light);
}

.popup > img.image {
    border-radius: 1em;
    width: 80%;
    align-self: center;
    margin: 3% 0;
}