.popup-container {
    position: absolute;
    z-index: 999;
    left: var(--body-padding);
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    border: 1px solid #666;
    transform: scale(0);
    transition: transform 100ms ease-in;
}

.popup-container.active {
    transform: unset;
}

.popup-container > .popup {
    position: relative;
    background-color: var(--color-purple-darkest);
    margin: auto auto;
    width: 75%;
}

.popup > .closeBtn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    position: absolute;
    top: 2%;
    right: 2%;
    width: 5%;
}

.closeBtn > svg {
    fill: rgba(255, 255, 255, 0.5);
}

.closeBtn > svg:hover,
.closeBtn > svg:active,
.closeBtn > svg:focus {
    fill: rgba(255, 255, 255, 1);
}