body {
  overflow-x: hidden;
}

section {
  padding-right: 0;
}

section.background {
  padding: 2em 0 2em var(--navbar-width);
  margin-left: calc(-1 * var(--body-padding));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: border-box;
  background-size: cover;
  background-position: center;

  --color-purple-dark-transparent: #23232eef;
  --color-purple-lightest-transparent: #c3a5cbef;
  --color-purple-light-transparent: #743d83ef;

  --content-margin-left: calc(var(--body-padding) - var(--navbar-width));

  font-size: 1rem;
}

.box-title {
  text-align: center;
  background-color: var(--color-purple-dark-transparent);
  padding: 0.5em 0;
  width: 80%;
  margin: 0 auto 1em;
  border-radius: 0.25em;
  text-transform: uppercase;
}

/* ME */
.text-xl {
  font-size: 4vw;
}

.text-l {
  font-size: 2vw;
}

.text-ml {
  font-size: 1.5vw;
}

.text-m {
  font-size: 1vw;
}

.text-s {
  font-size: 0.5vw;
}

.uppercase {
  text-transform: uppercase;
}

.rpgme-background {
  background-image: url("/about-img/paper.webp");
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: cover;
  background-position: center;
  margin: 0 calc(2 * var(--content-margin-left));
  border-radius: 1em;
  padding: 1vw 2vw 4vw 2vw;
  filter: opacity(0.97);
}

.rpgme-container {
  font-family: "Patrick Hand", cursive;

  display: grid;
  grid-template:
    "header header header"
    "attributes image likes"
    "equipment image talents";

  grid-template-columns: 35% auto 35%;
  row-gap: 1vw;
  column-gap: 0.5vw;
  color: var(--color-green-dark);
}

.rpgme-container > .header-container {
  grid-area: header;
  justify-self: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2vw;
}

.header-container > .char-name {
  text-transform: uppercase;
  letter-spacing: 0.5vw;
}

.header-container > .class-level-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.class-level-container > .class {
  letter-spacing: 0.5vw;
  text-decoration: underline;

  grid-column: 1 / -1;
  grid-row: 1;
}

.class-level-container > .level {
  grid-column: 3;
  grid-row: 1;
  letter-spacing: 0.5vw;

  border: 2px solid rgb(39, 37, 37);
  border-radius: 0.5em;

  padding: 0 1vw;
  margin-left: auto;
}

.rpgme-container > .image-container {
  grid-area: image;
  align-self: center;
  background-image: url("/about-img/josh-wedding.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1em;
  height: 90%;
  box-shadow: inset 4px 4px 10px 0px black;
}

.rpgme-container > .attributes-container {
  grid-area: attributes;
  justify-self: center;
  text-align: center;
  padding: 1vw;
  width: fit-content;
}

.attributes-container > .attributes {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.attributes > .stat-points {
  grid-column: 1;
  background-color: rgba(0, 0, 0, 0.137);
  border-radius: 1em;
  padding: 2px;
  width: fit-content;
}

.attributes > .stat-name {
  grid-column: 2;
  margin-left: 1vw;
  width: 100%;
  justify-self: left;
}

.rpgme-container > .equipment-container {
  grid-area: equipment;
  text-align: center;
  display: grid;
  grid-template:
    "header header"
    "e e";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3vw 1fr;
  row-gap: 1vw;
  width: fit-content;
  justify-self: center;

  align-items: center;
}

.equipment-container > span.text-l.uppercase {
  grid-area: header;
  align-self: normal;
}

.equipment-container > .equipment-grid {
  grid-area: e;
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
  row-gap: 3vw;
  column-gap: 3vw;
}

.equipment-grid > .equipment {
  width: 5vw;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  justify-self: center;

  border-image-slice: 385 457 557 428;
  border-image-width: 2vw;
  border-image-outset: 1vw;
  border-image-repeat: stretch;
  border-image-source: url("/about-img/vines.webp");
  border-style: solid;
}

.equipment-grid > .one {
  grid-area: one;
  background-image: url("/about-img/laptop.webp");
}

.equipment-grid > .two {
  grid-area: two;
  background-image: url("/about-img/spatula.webp");
}

.equipment-grid > .three {
  grid-area: three;
  background-image: url("/about-img/water-can.webp");
}

.equipment-grid > .four {
  grid-area: four;
  background-image: url("/about-img/d20.webp");
}

.rpgme-container > .likes-container {
  grid-area: likes;
  display: grid;
}

:is(.like, .dislike) > ul {
  list-style: none;
  text-align: left;
  margin-top: 1vw;
  margin-bottom: 0.1vw;
  padding: 0;
}

:is(.like, .dislike) {
  text-align: center;
}

:is(.like, .dislike) > span.text-l.uppercase {
  padding: 0 2vw;

  border: 2px solid rgb(39, 37, 37);
  border-radius: 1em;
}

.likes-container > .like {
  grid-column: 1;
  background-image: url("/about-img/flowers.webp");
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: top 45% right 0%;
}

.likes-container > .dislike {
  grid-column: 2;
  background-image: url("/about-img/angry.webp");
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top 35% right 30%;
}

.rpgme-container > .talents-container {
  grid-area: talents;
  padding-left: 4vw;
}

.talents-container > .talents {
  text-align: left;
  background-color: beige;
  width: 70%;
  padding: 0.5vw 1vw;
  line-height: 2vw;
  border-radius: 1em;
  box-shadow: 4px 4px 10px 0px black;
}

.talents > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.talents > ul > hr {
  padding: 0;
  margin: 0;
  margin-top: -0.4vw;
  width: 90%;
  border: 1px solid rgb(39, 37, 37);
}

@media screen and (max-width: 1023px) {
  .text-xl {
    font-size: 4vw;
  }

  .text-l {
    font-size: 3vw;
  }

  .text-ml {
    font-size: 2.5vw;
  }

  .text-m {
    font-size: 2vw;
  }

  .text-s {
    font-size: 1.5vw;
  }

  .rpgme-background {
    margin: 0 calc(1 * var(--content-margin-left));
    padding: 1vw 1vw;
  }

  .rpgme-container {
    grid-template:
      "header header header"
      "attributes attributes image"
      "talents equipment image"
      "likes likes image";

    grid-template-columns: auto auto 33%;
    padding: 2.2vw 0 5vw 0;
    row-gap: 0.2vw;
  }

  .rpgme-container > .header-container {
    padding-top: 1vw;
    margin-bottom: 0;
  }

  .rpgme-container > .talents-container {
    grid-area: talents;
    padding-left: 0vw;
  }

  .talents-container > .talents {
    width: 90%;
  }

  .talents > ul > hr {
    margin-top: 0;
  }

  .rpgme-container > .likes-container {
    margin-top: 2vw;
  }

  .likes-container > .like {
    background-position: top 55% right 0%;
  }

  .likes-container > .dislike {
    background-position: top 45% right 30%;
  }
}

@media screen and (max-width: 767px) {
  .rpgme-container {
    grid-template:
      "header header"
      "attributes attributes"
      "talents equipment"
      "likes likes";

    grid-template-columns: 1fr 1fr;
    padding: 2vw 0 4vw 0;
  }
}

@media screen and (max-width: 600px) {
  .text-xl {
    font-size: 6vw;
  }

  .text-l {
    font-size: 4vw;
  }

  .text-ml {
    font-size: 3.5vw;
  }

  .text-m {
    font-size: 3vw;
  }

  .text-s {
    font-size: 2.5vw;
  }

  .rpgme-background {
    margin: 0 0.5vw;
  }

  .rpgme-container {
    padding: 3vw 0 6vw 0;
  }

  .rpgme-container > .equipment-container {
    row-gap: 4vw;
  }

  .equipment-grid > .equipment {
    width: 12vw;
  }

  .talents > ul {
    line-height: 4vw;
    margin-top: 0.5vw;
  }

  .talents > ul > hr {
    margin-top: -0.7vw;
    border-width: 0.5px;
  }
}

@media screen and (max-width: 424px) {
  .text-xl {
    font-size: 6.5vw;
  }

  .text-l {
    font-size: 4.5vw;
  }

  .text-ml {
    font-size: 4vw;
  }

  .text-m {
    font-size: 3.5vw;
  }

  .text-s {
    font-size: 3vw;
  }

  .rpgme-container {
    padding: 5vw 0 8vw 0;
  }

  .talents-container > .talents {
    padding: 2vw 2vw;
    line-height: 3vw;
  }
}

/* STUDIES */
.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--content-margin-left) 0;
  gap: 1vw;
}

.text-flex {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--color-purple-dark-transparent);
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  margin-bottom: 1em;
  align-self: center;
}

.text-box {
  max-width: 60ch;
  margin: 0 auto 0 0;
  padding: 0.5em 1em;
  background-color: var(--color-purple-dark-transparent);
  color: var(--color-purple-lightest);
  border-radius: 1em;
  text-align: justify;
}

.list-no-bullet {
  list-style-type: none;
}

.list-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
}

.list-item-wrapper > .icon {
  font-size: 3em;
}

.list-item-wrapper > span {
  border-radius: 0.25em;
  box-shadow: 0px 2px 2px 0px black;
  width: fit-content;
  margin: 0.25em 0;
  padding: 0.15em 0.35em;
  background-color: var(--color-purple-light-transparent);
  color: var(--color-purple-lightest);
  box-shadow: 0px 0px 5px 2px var(--color-green-light);
}

.img-shadow {
  width: 45vw;
  border-radius: 1em;
  box-shadow: 3px 3px 5px 0px var(--color-purple-darkest);
}

@media screen and (max-width: 1439px) {
  .box-title {
    padding: 0.5em 0;
  }

  .container-flex {
    flex-direction: column;
  }

  .img-shadow {
    width: 100%;
    max-width: 60ch;
  }
}

@media screen and (max-width: 667px) {
  .list-item-wrapper > .icon {
    display: none;
  }

  .list-no-bullet {
    padding: 0;
  }
}

@media screen and (max-width: 601px) {
  section.background {
    --content-margin-left: var(--body-padding);
    padding-left: 0;
  }
}

/* WORK */

.work-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: var(--content-margin-left);
  column-gap: 5vw;
}

.work-grid-container > .title {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;

  background-color: var(--color-purple-dark-transparent);
  margin: 0 auto 1em;
  width: 40%;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.work-grid-container > .col-1 {
  grid-column: 1;
  display: grid;
  row-gap: 2vw;
}

.work-grid-container > .col-2 {
  grid-column: 2;
  display: grid;
  row-gap: 2vw;
}

.col > .item {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 0 auto;
  padding: 0.5em 1em;
  align-items: center;
  background-color: var(--color-purple-dark-transparent);
  border-radius: 1em;
  justify-content: space-between;
}

.item > .text-container {
  margin-right: auto;
}

.item > .company-logo {
  text-align: center;
  padding: 0.5em;

  border-radius: 25%;

  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: contain;
  background-position: center;

  margin-left: 2vw;

  min-width: 64px;
  aspect-ratio: 1;
}

.text-container > .company-name {
  text-transform: uppercase;
  font-weight: bold;
}

.text-container > .role {
  font-style: italic;
}

.text-container > ul {
  list-style-type: none;
  padding-left: 0;
}

.text-container > ul > li::before {
  content: "👉 ";
}

.text-container > ul > li > span.tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}

@media screen and (max-width: 1219px) {
  .work-grid-container {
    column-gap: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .item > .company-logo {
    margin-left: 2px;
  }

  .col > .item {
    width: 98%;
    gap: 0.5vw;
    padding: 1vw 0 0 1vw;
    padding-left: 0.5vw;
  }
}

@media screen and (max-width: 839px) {
  .work-grid-container {
    grid-template-columns: 1fr;
    row-gap: 2vw;
  }

  .work-grid-container > :is(.col-1, .col-2) {
    grid-column: 1;
  }

  .col > .item {
    width: 80%;
  }

  .item > .text-container {
    margin-left: 5vw;
  }
}

@media screen and (max-width: 440px) {
  .col > .item {
    width: 95%;
  }

  .item > .company-logo {
    min-width: 32px;
  }
}
